@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header {
    background-color: #251F1D;
    color: #ffffff;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

main {
    margin-top: 45px;
}

header a{
    color: #ffffff;
    text-decoration: none;
}

header a:hover {
    filter: brightness(80%) contrast(100%);
    color: #deb887;
    transition: all 0.3s ease-in-out;
}


.dish-wrapper{
    width: 150px;
    font-family: Roboto;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0 1px 3px 0px #000000;
    text-align: center;
    align-items: center;
}


.section-1 img{
    width: 100px;
    margin-top: 10px;
    border-radius: 50%;
}

.dish-wrapper button{
    background-color:#9D673E;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    border:1px solid #9D673E;
    width: 100px;
}

.main-course-section {
    display: flex;
    justify-content: space-evenly;
}

h2{
text-align: center;
font-size: 25px;
color: #9D673E;
font-family: poppins;
}

.section-2{
    margin-top: 10px;
}
.section-2 img{
width: 150px;
margin-top: 10px;
border-radius: 5px 10px 5px 25px;
}
.section-2 .dish-wrapper{
    padding: 15px;
}
.section-1-2{
    margin-top: 10px;
}
.section-1-2 h2{
    color: #000000;
    margin-top: 60px;
}
.section-1-2 img{
border-radius: 50%;
border-top:5px solid #000000;
padding: 8px;
}
.salad-sample{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    
}
.salad-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.salad-text{
    margin-top: 10px;
}
.salad-text button {
    border-radius: 50%;
    padding: 8px;
    color: white;
    background-color: #000000;
}
.salad-text h3{
    font-size: 30px;
    font-weight: 900;
    font-family: poppins;
}
.salad-text p{
    margin-top: -30px;
}
.snack-color h2 {
    color:#FFB754 ;
}
.snack-color button{
    background-color: #FFB754;
    border: 1px solid #FFB754;
}